.quiz-bode {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input,
select {
    margin: 5px !important;
}
h1,h2{
    color: #456226 !important;
}
.quiz-head{
    background-color: #d0b50b;;
        border-color: #456226;
        border-radius: 10px;

}
.quiz-footer{
    display: flex;
        flex-direction: column;
        align-items: center;
    }


.disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}
select, input{
    background-color: #ebe8c1;
    border-color: #456226;
    border-radius: 20px;
}
