


body {
  font-family: 'Anek Malayalam', sans-serif;
  background-color: #23360e !important;
  color: #11052c;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0 30px;
}

.container {
  max-width: 500px;
  min-width: 250px;
  background: #ebe8c1;
  border-radius: 10px;
  margin-top: 100px;
  padding: 30px 60px;
  display: flex;
    flex-direction: column;
    align-items: center;
}







/* 
.container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #800080;
}

.container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}

.container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.container ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.container ul .selected-answer {
  background: #ffd6ff;
  border: 1px solid #800080;
}


.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #800080;
  font-size: 22px;
} */

